$talleres-articulos:350px;
$bitacora-articulos:480px;
$color-primario: #16697a;
$color-secundario: #db6400; 


.titulo{
    color:  $color-secundario;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;

}

.parrafos{    
    color: $color-primario;
    font-family: 'Nunito', sans-serif;
    font-size: small;
    text-align:justify;
    margin: 0;
    margin-top: 15px;
}

.imagenes{
    display:block;  
    width: $talleres-articulos;  
    margin:auto;     
}

.imagenes:hover{  
  transform: translate(20px);
}

#pilares{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    align-content: center;

    .pilares__descripcion{
        border: 1px solid $color-primario; 
        padding: 5px; 
      }
}

.talleres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 10px;
    justify-content: space-around;

    > .talleres__articulo{
        width: $talleres-articulos;
    } 
}


.contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: space-between;

    *{
        margin: 5px 5px;
    } 
  }

  .bitacora{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content:space-between;
        .bitacora__articulo{
            width: $bitacora-articulos;
        }
        aside{            
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            h3{
                text-align: left;
            }
        }
}
  



  